
<h1 class="header">Welcome to <img src="images/logoBig.png" class="img img-responsive" style="height:100px; display:inline-block"></img></h1>

<h4>CodeWorks is built by people like you, for people like you. With challenging programming questions that help you learn Java and algorithms, cutting-edge online technology and a supportive community, your journey towards that degree or that job begins rock solid.</h4>
{{!-- 
<div class="col-md-6">
<img src="images/blackboard.jpg" class="img img-responsive"></img>
</div>

<div class="col-md-6">

<img src="images/students.jpg" class="img img-responsive"></img>
</div> --}}