.runBtn
{
    background-color: #3EE52C;
    float: right;
    height: 40px;
    position: relative;
    top: 10px;
    right: 10px;
    text-align: center;
    color: white;
    padding: 10px;
    font-size: 15px;
    min-width: 100px;
}
.runBtn:hover
{
    background-color: #2FC61E;
}

.debugBtn
{
    margin-right: 20px;
    background-color: #E91E63;
}

.debugBtn:hover
{
    background-color: #CE2867;
}