
  {{ problem.title }}
  {{ problem.text }}

<form method="post" enctype="multipart/form-data">
  <input type="file" name="file">
  <br>
  <input type="submit">
</form>


<script src="/socket.io/socket.io.js"></script>
<script src="/js/problem.js"></script>
